<div class="widget">
    <h3 class="widget-title"><%= __('widget.board') %></h3>
    <div class="widget-body">
        <div id="board">
            <div class="content">
                <%- theme.site.board %>
            </div>
            <!--<script type="text/javascript" id="clstr_globe" src="//cdn.clustrmaps.com/globe.js?d=T3GsgMYrtKN3qWOvUfHF0PsGL8hxiJUQ7S0v-ioXh3E"></script>-->
            <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=9deb89&w=a&t=tt&d=T3GsgMYrtKN3qWOvUfHF0PsGL8hxiJUQ7S0v-ioXh3E&co=ffffff&cmn=e63d18&cmo=b066c9&ct=3708bd'></script>        </div>
    </div>
</div>
